<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>

    <target name="file" xsi:type="File" fileName="${basedir}/Logs/site.log"
     layout="${date:format=dd\\/MM\\/yyyy}: ${message}" />

    <target name="eventlog" xsi:type="EventLog" source="Tratamento de Erros do NLog" log="Application"
    layout="${date}: ${message} ${stacktrace}" />

    <target name="mail" xsi:type="Mail"
      layout="${date:format=dd\\/MM\\/yyyy}: ${message}"
      subject="Mensagem de Erro do nLog"
      to="ricardombrandao@gmail.com"
      from="arqsiteste@gmail.com"
      body="${message}"
      HTML="false"
      Encoding="iso-8859-1"
      smtpServer=" smtp.gmail.com"
      smtpAuthentication="Basic"
      smtpPassword="arqsi73s73"
      smtpUsername="arqsiteste@gmail.com"
      port="465"
          />

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="mail" />
    <logger name="*" minlevel="Error" writeTo="eventlog" />
    <logger name="*" minlevel="Info" writeTo="eventlog" />
  </rules>
</nlog>