@model IEnumerable<IDEIBiblio.Models.Livro>

@{
    ViewBag.Title = "ListarTodos";
}

<h2>Listar Todos os Livros</h2>
<table>
        @foreach (var item in Model) {
            @Html.Partial("_ProdutoPartial", item)
            @*<tr>
                <td>
                        <h4>@item.titulo</h4>
                        <p>Editora: @item.editora</p>
                        <p>Preço: @item.preco €</p>
                        <p><img src=../@item.path_img alt="Imagem" width="75" height="100"></p>
                </td>
            </tr>*@
            
       } 
</table>

