@model IDEIBiblio.Models.Linha_Doc
{
    <tr id="formId">
        <td>@Model.produto.ID</td>
        <td>@Model.produto.titulo</td>
        <td>@Model.qtd</td>
        <td>@Model.preço_unitário €</td>
    </tr>
}