@{
    ViewBag.Title = "404 - NOT FOUND";
}
<div style="text-align:center;">
    <h2>404 - NOT FOUND</h2>
    <img src="~/Images/404.jpg" width="450" height="350" />
    <p>Procuramos 404 vezes e não conseguimos achar a página que procura.</p>
</div>