@{
    ViewBag.Title = "Widget";
}

<h2>Widget</h2>

<h5>Consulte aqui mais informações sobre livros</h5>
<iframe src="@Url.Content("http://phpdev2.dei.isep.ipp.pt/~i111121/ProjArqsi/trabalho1.html")" style="width: 500px; height: 2300px;" frameborder="0" ></iframe>
