@model IEnumerable<IDEIBiblio.Models.Cliente>

@{
    ViewBag.Title = "Area Cliente";
    IDEIBiblio.Controllers.ClienteController ctr = new IDEIBiblio.Controllers.ClienteController();
    IDEIBiblio.Models.Cliente c = ctr.ObterClienteAutenticado();
    string st = c.carrinho.ID + "";
}

<h2>Area do Cliente</h2>

<table>
    <tr>
        <td>
            <table width="100"><tr><td width="50"><a href="/Carrinho/Edit/@st"><img src="~/Images/carrinho.png" width="50" height="50"/></a></td><td width="50"><a href="/Carrinho/Edit/@st">Carrinho</a></td></tr></table>
        </td>
    </tr>
    <tr> 
        <td>
            <table width="100"><tr><td width="50"><a href="/Encomenda/Index"><img src="~/Images/bloco-de-notas.png" width="50" height="50"/></a></td><td width="50"><a href="/Encomendas/Index">Encomendas</a></td></tr></table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100"><tr><td width="50"><a href="/Compra/Index"><img src="~/Images/moneybag.png" width="50" height="50"/></a></td><td width="50"><a href="/Compra/Index">Compras Efectuadas</a></td></tr></table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100"><tr><td width="50"><a href="/Account/Manage"><img src="~/Images/lock.png" width="50" height="50"/></a></td><td width="50"><a href="/Account/Manage">Mudar Password</a></td></tr></table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100"><tr><td width="50"><a href="/Cliente/Edit/@c.ID"><img src="~/Images/lapis.png" width="50" height="50"/></a></td><td width="50"><a href="/Cliente/Edit/@c.ID">Editar Informações</a></td></tr></table>
        </td>
        
    </tr>
</table>
