@model IEnumerable<IDEIBiblio.Models.Cat_Livro>

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias de Livros</h2>
<img src="~/Images/bar.png" width="1000"/>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        
    </tr>
}

</table>
