@model IEnumerable<IDEIBiblio.Models.Gestor_P>

@{
    ViewBag.Title = "";
}

<h2>Listagem de Gestores de Produto</h2>

<img src="~/Images/bar.png" width="1000"/>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
    </tr>
}

</table>
